* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "gimlet-text", serif;
    letter-spacing: -4px;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "gimlet-text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
}

.justify-text-last {
    text-align: justify;
    text-align-last: justify;
}

.tiny-text {
    font-size: 0.5rem;
    color: rgb(237, 237, 237);
    font-weight: 700;
}


.vertical-text {
    writing-mode: vertical-rl; /* right-to-left vertical */
    text-orientation: upright; /* upright orientation */
    white-space: nowrap; /* prevent text from wrapping */
  }
/* Style the section and make it relative for positioning */
.video-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh; /* Adjust the height as needed */
}

/* Style the video element */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust video sizing as needed */
    z-index: -1; /* Place video behind content */
    opacity: 0.7;
}

/* Style the content within the section */
.content {
    position: relative;
    z-index: 1; /* Place content in front of the video */
    padding: 20px; /* Adjust padding as needed */
    color: #fff; /* Set text color */
}
