* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

section {
    background-image: url('https://res.cloudinary.com/dyve8u6cx/image/upload/v1705803525/BACKGROUND_NUDA_WEBSITE_xyotoc.png');
    background-size: cover;
}

h1 {
    font-family: "gimlet-micro", serif;
    letter-spacing: -2px;
    font-weight: 400;
    font-style: normal;
    color: #cac7b8;
    font-size: 1rem !important;
    max-width: max-content;
}

h2 {
    font-family: "gimlet-micro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem !important;
    color: rgb(197, 196, 196);
    text-decoration: none;
    margin-bottom: 0;
    max-width: max-content;
}

p, nav a, .explore a {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
    color: rgb(197, 196, 196);
    text-decoration: none;
    margin-bottom: 0;
    max-width: max-content;
}

.hero p, nav a {
    letter-spacing: 3px;
}

.art-hero a {
    color: rgb(197, 196, 196);
}


.art-hero a:hover, .explore a:hover, nav a:hover, .exhibition-nav-link:hover {
    color: rgb(197, 196, 196);
}
.dark-grey {
    color: #353535;
}

.justify-text-last {
    text-align: justify;
    text-align-last: justify;
}

.justify-text {
    text-align: justify;   
}


.vertical-text {
    writing-mode: vertical-lr; 
    text-orientation: upright;
    white-space: nowrap;
}


.diagonal-line {
    position: relative;
    width: 1px; /* Adjust as needed */
    height: 390px; /* Adjust as needed */
    z-index: -1;
}

.diagonal-line::before {
    content: '';
    position: absolute;
    top: -35px;
    left: 745px;
    width: 100%;
    height: 100%;
    background: transparent;
    border-left: solid 1px #606364; /* Line color and thickness */
    transform: rotate(52deg); /* Adjust angle here */
    transform-origin: 0 0;
}

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Loading bar styles (keep your original styles) */
.loader {
    height: 4px;
    width: 130px;
    background: #454545;
}

.loader-bar {
    height: 100%;
    width: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

/* Loading text styles */
.loader p {
    color: white;
}

.sound-options button {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.sound-options {
    text-align: center;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.screen-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-centered-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-intro-section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-intro-title {
    text-align: center;
}

.project-intro-subtitle-text {
    text-align: center;
    max-width: 500px;
}

.project-description-section {
    min-height: 100vh;
    margin-top: -2px;
}

.project-image-large {
    width: 100%;
}

.project-text-top {
    text-align: justify;
    text-align-last: justify;
    margin-bottom: 0;
    width: 200px;
    /* change width accoridng to image */
}

.project-image-small {
    height: 200px;
    width: 200px;
}

.project-text-bottom {
    text-align: justify;
    text-align-last: justify;
    margin-bottom: 0;
}

#pilares-link {
    margin-right: 75px;
}
@media screen and (min-width: 768px) {
    h1 {
        margin-left: 150px;
    }
    .art-hero-image {
        margin-top: -100px;
    }
    .exhibition-nav, .exhibition-text {
        padding-right: 50px !important;
    }
    .art-hero {
        min-height: 100vh;
    }
    .project-text-bottom {
        padding: 20px;
        padding-bottom: 0;
    }
    .project-text-top {
        padding: 20px;
        padding-top: 0;
    }
}

@media screen and (min-width: 800px) {
    .project-intro-section {
        min-height: 110vh;
    }

    
}

@media screen and (max-width: 768px) {
    .project-text-top {
        padding: 85px 0;
    }

    .project-text-bottom {
        padding: 0 30px;
    }

    .project-image-small { 
        padding-bottom: 85px;
    }
}