* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

section {
    background-image: url('../images/BACKGROUND\ NUDA\ WEBSITE.png');
    background-size: cover;
}

/* menu */
.menu-container {
    position: absolute; /* or 'fixed' based on your layout */
    top: 0;
    right: 0;
    padding-right: 80px;
    padding-top: 50px;
    /* Add more styling as needed */
}

/* Ensure the container does not affect the layout */
.menu-container {
    position: absolute; /* or 'fixed' depending on your layout */
    top: 0;
    right: 0;
    /* Add more styling as needed */
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 0;
    right: 0;
    display: none;
    color: rgb(197, 196, 196);
    max-width: max-content;
    border: 1px solid red;
}

.menu-items li {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.5s, opacity 0.5s;
    max-width: max-content;
    /* Add more styling as needed */
}

.menu-items li a {
    color: rgb(197, 196, 196);
    font-size: 0.8rem;
}

.menu-container.active .menu-items {
    display: block;
}

.menu-toggle {
    color: rgb(197, 196, 196);
    font-size: 0.8rem;
    max-width: max-content;
}

/* Mobile specific styles */
@media (max-width: 768px) {
    .menu-container.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        z-index: 1000;
    }

    .menu-toggle.x {
        /* Transform menu into 'X' - add your styles here */
    }
}


/* Mobile specific styles */
@media (max-width: 768px) {
    .menu-container.active {
        /* Styles for black screen */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        z-index: 1000;
    }

    .menu-toggle.x {
        /* Transform menu into 'X' */
    }
}


h1 {
    font-family: "gimlet-micro", serif;
    letter-spacing: -2px;
    font-weight: 400;
    font-style: normal;
    color: #cac7b8;
    font-size: 1rem !important;
    max-width: max-content;
}

h2 {
    font-family: "gimlet-micro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem !important;
    color: rgb(197, 196, 196);
    text-decoration: none;
    margin-bottom: 0;
    max-width: max-content;
}

p, nav a, .explore a {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
    color: rgb(197, 196, 196);
    text-decoration: none;
    margin-bottom: 0;
    max-width: max-content;
}

.number-horizontal, nav a {
    letter-spacing: 2px;
}

.art-hero a {
    color: rgb(197, 196, 196);
}


.art-hero a:hover, .explore a:hover, nav a:hover, .exhibition-nav-link:hover {
    color: rgb(197, 196, 196);
}
.dark-grey {
    color: #525252;
    font-weight: 700;
}

.justify-text-last {
    text-align: justify;
    text-align-last: justify;
}

.justify-text {
    text-align: justify;   
}


.vertical-text {
    writing-mode: vertical-lr; 
    text-orientation: upright;
    white-space: nowrap;
}


.diagonal-line {
    position: relative;
    width: 1px; /* Adjust as needed */
    height: 390px; /* Adjust as needed */
    z-index: -1;
}

.diagonal-line::before {
    content: '';
    position: absolute;
    top: -35px;
    left: 745px;
    width: 100%;
    height: 100%;
    background: transparent;
    border-left: solid 1px #606364; /* Line color and thickness */
    transform: rotate(52deg); /* Adjust angle here */
    transform-origin: 0 0;
}

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Loading bar styles (keep your original styles) */
.loader {
    height: 4px;
    width: 130px;
    background: #454545;
}

.loader-bar {
    height: 100%;
    width: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

/* Loading text styles */
.loader p {
    color: white;
}

.sound-options button {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.sound-options {
    text-align: center;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.screen-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-centered-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-intro-section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-intro-title {
    text-align: center;
}

.project-intro-subtitle-text {
    max-width: 300px;
    margin-top: 50px;
}

.project-intro-subtitle-text p {
    line-height: 40px;
}

.project-description-section {
    min-height: 100vh;
    margin-top: -2px;
}

.project-image-large {
    width: 100%;
}

.project-text-top {
    text-align: justify;
    text-align-last: justify;
    margin-bottom: 0;
    width: 200px;
    /* change width accoridng to image */
}

.project-image-small {
    height: 200px;
    width: 200px;
}

.project-text-bottom {
    text-align: justify;
    text-align-last: justify;
    margin-bottom: 0;
}

#pilares-link {
    margin-right: 75px;
}

.number-horizontal {
    position: relative;
    left: 30px;
    bottom: 3px;
}

.number-vertical {
    position: relative; z-index: 1;top: 170px;margin-left: 110%;letter-spacing: -3px;
}

.footer-container {
    padding-left: 75px;
}

.footer-items-container {
    padding-left: 120px;
}
.footer-number {
    margin-right: 100px;
}
.footer-line {
    width: 50%;
}
@media screen and (min-width: 768px) {
    .hero {
        padding-top: 20px;
    }

    .hero h1 {
        position: relative;
        left: 125px;
        padding: 3rem 0 3rem 3rem;
    }

    .homepage-intro-title-container {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .homepage-img-container {
        width: 50%;
    }

    .homepage-img-container img {
        padding: 3rem
    }

    .homepage-title-container {
        
        width: 50%;
    }
    .nav-container {
        padding-bottom: 20px;
        margin-right: 15px;
    }

    .line-art-bg {
        background-position: calc(50% + 20px) center;
        height: 250px;
    }

    h1 {
        margin-left: 150px;
    }
    .art-hero-image {
        margin-top: -100px;
    }
    .exhibition-nav, .exhibition-text {
        padding-right: 50px !important;
    }
    .art-hero {
        min-height: 100vh;
    }
    .project-text-bottom {
        padding: 20px;
        padding-bottom: 0;
    }
    .project-text-top {
        padding: 20px;
        padding-top: 0;
    }
    .footer-nav-item {
        margin-left: 30px;
    }
}

@media screen and (min-width: 800px) {
    .project-intro-section {
        min-height: 110vh;
    }

    
}

@media screen and (max-width: 768px) {

    .hero {
        padding-top: 10px;
    }


    .homepage-intro-title-container {
        display: block;

    }

    .homepage-img-container {
        width: 100%;
    }

    .homepage-img-container img {
        padding: 0 0 0 0;
    }

    .homepage-title-container {
        margin-top: 150px;
        margin-bottom: 4%;
        padding-right: 5%;
        width: 100%;
    }

    .homepage-title-container h1 {
        margin-left: auto ;
    }

    .nav-container {
        padding-bottom: 29px;
        padding-right: 40px;
    }

    .number-horizontal {
        position: relative;
        left: 18px;
        bottom: 3px;
    }
    
    .number-vertical {
        top: 90px;
    }

    .dark-grey {
        color: #3a3a3a;
        font-weight: 700;
    }

    .line-art-bg {
        background-position: center;
        height: 120px;
    }

    .project-text-top {
        padding: 85px 0;
    }

    .project-text-bottom {
        padding: 0 30px;
    }

    .project-image-small { 
        padding-bottom: 85px;
    }

    .footer-container {
        padding-left: 0px;
    }

    .footer-items-container {
        padding-left: 0px;
    }
    .footer-number {
        margin-right: 20px;
    }
    .footer-nav-item {
        text-align: end;
        margin-left: auto;
    }
    .footer-line {
        width: 10%;
    }
}


